<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
  
	<title>Pitt Nivesh</title>
  
	<!-- Bootstrap core CSS -->
	<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
	<!-- Custom fonts for this template -->
	<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  
	<!-- Custom styles for this template -->
	<link href="../static/css/landing-page.min.css" rel="stylesheet">

<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
h2 {
    display: inline;
}

table, th, td {
  border: 1px solid black;
}

</style>

</head>

<body style="background-color:lightblue;">

<p style="text-align:center;"><img src="../static/pitt_nivesh.jpg" alt="Natural" /></p>

<p><b>Buy Stock in Collaboration</b></p>

<div style="text-align:center;">
<p><b>Welcome</b></p>
{{ user_name_what }}<br>
<br>
</div>


<form action="{{ url_for('buy_stocks_collab') }}" method="POST">

<form method="POST">
	<p><b>ENTER GROUP NAME</b></p>
	<div style="text-align:center;">
    <input name="group_name"><br></br>
	
	<p><b>ENTER friend 1's Contribution</b></p>
	<input name="f1_cont"><br></br>
	
	<p><b>ENTER friend 2's Contribution</b></p>
	<input name="f2_cont"><br></br>
	
	<p><b>ENTER friend 3's Contribution</b></p>
	<input name="f3_cont"><br></br>
	
	<p><b>ENTER Stock Symbol</b></p>
	<input name="stock_symbol"><br></br>
	
	<p><b>ENTER Stock Volume</b></p>
	<input name="stock_volume"><br></br>
	
	<br>
<input type="submit" class="btn btn-info" value="Buy Stock Together">
</div>

<br>

<div style="text-align:center;">

<a href="/home_page" align="center"><center><input type="button"  class="btn btn-success" value="Home"></center></a>



<br>

<a href="/log_out_to_user_reg" align="center"><center><input type="button"  class="btn btn-danger" value="Log Out"></center></a>

</div>

<div style="text-align:center;">
{{ what }}<br>
<br>
</div>

</body>


<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</html>