<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pitt Nivesh</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../static/css/landing-page.min.css" rel="stylesheet">

<style>
h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
    label {color: black}
    .modal-title{color: black }

</style>

</head>

<body>
    <nav class="navbar navbar-light bg-light static-top">
		<div class="container">
          <img src="../static/pitt_nivesh.jpg" alt="Natural" style="vertical-align: baseline;
          border-style: none;
          float: left;
          margin-right: 100px"/>
          <a class="navbar-brand" href="#">Start your journey with us</a>
		  <a class="btn btn-primary" style="float: right;
          margin-left: auto;
          margin-right: 10px;
          padding-right: 10px;" href="/pitt_nivesh_main">Sign Up</a>
		  <a class="btn btn-primary" href="/login_user">Sign In</a>
		</div>
      </nav>
      
      <!-- Masthead -->
	<header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">Want to learn how to invest? Want to combine funds with friends to improve your investing power? Try our app and Learn stock marketing while collaborating with your friends!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <!--<div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter your email...">
                  </div> -->
                  <div class="col-12 col-md-3 mx-auto">
                    <!--<button type="button" data-toggle="modal" data-target="#ModalLoginForm" class="btn btn-block btn-lg btn-primary">Sign up!</button> -->
                    <!-- Modal HTML Markup -->
  
            </div>
          </div>
        </div>
      </header>
    
      <!-- Icons Grid -->
      <section class="features-icons bg-light text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-screen-desktop m-auto text-primary"></i>
                </div>
                <h3>Inspiration </h3>
                <p class="lead mb-0">Everybody winds up with spare change sometimes - what if you could combine that with your friends' spare change and learn to invest in the stock market for fun and profit?</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-layers m-auto text-primary"></i>
                </div>
                <h3>What it does?</h3>
                <p class="lead mb-0">Allows user to connect with friends that might want to combine funds with them, and to use that bigger pot of money to purchase stocks and watch it grow in value.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-check m-auto text-primary"></i>
                </div>
                <h3>Easy to Use and Learn</h3>
                <p class="lead mb-0">Especially made for college going students</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      
</body>



<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</html>