<!DOCTYPE html>

<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

</style>
<!--<h1>PITT NIVESH INC.</h1>-->
<p style="text-align:center;"><img src="pitt_nivesh.jpg", align='center'></p>
</head>

<body>

<p><b>ENTER USER REGITRATION INFO.</b></p>

<form action="{{ url_for('user_registration') }}" method="POST">

<form method="POST">
	<p><b>ENTER USER ID</b></p>
	<div style="text-align:center;">
    <input name="user_id"><br>
	<p><b>ENTER EMAIL</b></p>
	<input name="email"><br>
	<p><b>ENTER Password</b></p>
	<input name="password"><br>
	<br>
<input type="submit" class="myButton" value="Register User">
</div>

</form>

</body>



</html>